/*Base*/
:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: hsl(0, 0%, 26%);
    --hover-color: #ccc;
    --boder-color: #dedada;
    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 100% = 16px */
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/*Grid*/
.row {
    margin-left: -8px;
    margin-right: -8px;
}

.column-5 {
    float: left;
    margin-left: -8px;
    margin-right: -8px;
    width: 20%;
}

.column-5_4 {
    float: left;
    margin-left: -8px;
    margin-right: -8px;
    width: 80%;
}

.column-3 {
    float: left;
    margin-left: -8px;
    margin-right: -8px;
    width: 33.3333%;
}

.column-2 {
    float: left;
    margin-left: -8px;
    margin-right: -8px;
    width: 50%;
}

/*Main*/
.content {
    padding: 90px 40px;
}

.content-heading {
    padding-bottom: 70px;
    text-align: center;
    margin: 0 40px;
    letter-spacing: 3px;
    font-size: 1.4rem;
}
/*Heading*/
.heading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.navbar {
    background-color: var(--black-color);
    display: flex;
    justify-content: space-between;
}

.navbar-list {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.navbar-item {
    padding: 18px 35px;
}

.navbar-item:hover  {
    cursor: pointer;
    background-color: var(--hover-color);
}

.navbar-item:hover .navbar-item-link {
    color: var(--black-color);
}

.navbar-item-link {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.8rem;
}

/*Mobile Navbar*/
.subnav-checkbox {
    position: absolute;
    right: -43%;
    opacity: 0;
}

input[type=checkbox] {
    width: 100%;
    height: 2rem;
}

.subnav-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    height: 55px;
    display: none;
}

.subnav-mobile div {
    margin: 0 35px;
}

.navbar-item-mobile-icon {
    color: var(--white-color);
    font-size: 26px;
}

.navbar-mobile-list {
    position: absolute;
    background-color: var(--black-color);
    list-style: none;
    top: 100%;
    line-height: 50px;
    height: 150px;
    text-align: left;
    padding: 0 10px;
    width: 100%;
    padding-left: 35px;
    box-shadow: 0 1px 2px rgb(23, 20, 20), 0.9 ;
    display: none;
}

/*About*/
#about {
    margin-top: 55px;
}

.about-heading {
   
}

.about-content {
    display: flex;
    justify-content: space-between;
}

.about-avt {
    width: 100%;
}

.about-info {
    padding-left: 10px;
    color: var(--text-color);
    line-height: 30px;
    font-size: 1.3rem;
}

/*Story*/
#story {
    background-color: #000;
}

.story-list {
    display: flex;
}

.story-heading {
    color: var(--white-color);
}

.story-item {
    background-color: var(--white-color);
    margin: 8px;
}

.story-item p {
    height: 95px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
}

.story-item-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.story-item-btn button {
    background: rgba(0,0,0,0.5);
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: var(--white-color);
    font-size: 3rem;
}

.story-item-btn button:hover .story-item-btn-icon {
    color: #ccc;
}

.story-item img {
    width: 100%;
    display: block;
}

.story-info {
    font-size: 1.2rem;
    margin: 22px;
}

.story-info h2 {
    margin-bottom: 8px;
}

.story-address {
    color: rgb(0, 0, 0, 0.5);
}

.story-btn {
    margin-left: 22px;
    margin-bottom: 22px;
    padding: 9px;
    width: 90px;
    border: 1px solid #ccc;
    color: var(--white-color);
    background-color: #000;
}

.story-btn:hover {
    background-color: var(--hover-color);
    cursor: pointer;
    color: var(--black-color);
}

/*Contact*/
#contact {

}

.contact-heading {
    
}

.contact-content {
    display: flex;
    justify-content: space-between;
    margin: 0 70px;
}

.contact-info {
    line-height: 50px;
    margin: auto;
}

.contact-info-list {
    list-style: none;
}

.contact-info-item {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}

.contact-info-item i {
    width: 30px;
    font-size: 1.8rem;
    margin: 0 9px;
}

.contact-form {

}

.contact-form-info {
    margin-bottom: 20px;
}

.contact-form-input {
    padding: 9px;
    width: 49.7%;
}

.input-half {
    width: 49.7%;
}

.contact-form-mess {
    width: 100%;
    margin-bottom: 20px;
}

.contact-form-mess-input {
    padding: 9px;
    width: 100%;
}

.contact-form-btn {
    border: 1px solid #ccc;
    width: 90px;
    padding: 9px;
    background-color: var(--black-color);
    color: var(--white-color);
}

.contact-form-btn:hover {
    cursor: pointer;
    background-color: var(--hover-color);
    color: var(--black-color);
}